@model IEnumerable<UrlShortener.App.Models.ShortUrl>

@{
    ViewData["Title"] = "URL Shortener";
    var errors = ViewData["Errors"] as IList<string>;
}

@if (errors != null && errors.Any())
{
    <div class="alert alert-danger">
        <p>Please correct the following errors:</p>
        <ul>
            @foreach (var error in errors)
            {
                <li>@error</li>
            }
        </ul>
    </div>
}

<form method="post" asp-action="Shortener">
    <div class="mb-3">
        <label class="form-label">Long URL</label>
        <input class="form-control" type="url" name="url" required placeholder="https://example.com" />
        
        <label class="form-label mt-2">Expires in</label>
        <input class="form-control" type="date" name="expires"/>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<hr />

<div>
    <a class="btn btn-danger" href="@Url.Action("Clear")">Clear</a>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Short Code</th>
                <th scope="col">Created At</th>
                <th scope="col">Original URL</th>
                <th scope="col">Short URL</th>
                <th scope="col">Expires in</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Any())
            {
                foreach (var shortUrl in Model)
                {
                    <tr>
                        <th scope="row">@shortUrl.ShortCode</th>
                        <td>@shortUrl.CreatedAt.ToString("MM/dd/yyyy")</td>
                        <td>
                            <span>
                                @shortUrl.OriginalUrl 
                            </span>
                            <span 
                                class="copy"
                                data-bs-toggle="tooltip" data-bs-placement="top" title="click to copy original url" 
                                onclick="copyText('@shortUrl.OriginalUrl ')"
                                ><i class="bi bi-copy"></i></span>
                        </td>
                        <td>
                            <span>
                                <a class="link" href="@shortUrl.ShortCode" target="_blank">@shortUrl.ShortUrlFull</a>
                            </span>
                            <span 
                                class="copy"
                                data-bs-toggle="tooltip" data-bs-placement="top" title="click to copy short url" 
                                onclick="copyText('@shortUrl.ShortUrlFull')"
                                ><i class="bi bi-copy"></i></span>
                        </td>
                        <td>@(shortUrl.Expires == null ? "N/A" : shortUrl.Expires)</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

@section Scripts{
    <script>
        function clear() {

        }
    </script>
}
